@font-face {
  font-family: "Helvetica Neue";
  src: url("public/fonts/HelveticaNeue.ttc") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}
